<html ng-app="smarterPodRemote" ng-csp>
<head>
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="remote" style="width:550px;">
<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav style="z-index:999">
        <div class="nav-wrapper orange z-depth-3">
            <a href="#" ng-click="openDialog('about')" class="brand-logo">SmarterPod</a>
            <a href="#" ng-click="openDialog('playlist')"> <i class="mdi-action-list right" href="#!"
                                                              style="padding-right:15px;padding-left:5px;"></i></a>
            <a href="#" ng-click="openDialog('search')"> <i class="mdi-action-search left" href="#!"
                                                            style="padding-right:15px;padding-left:5px;"></i></a>
        </div>
    </nav>
</header>
<main>
    <div id="remote-content" class="container">

        <div class="row">
            <div class="col s12" ng-if="smarterPod.podList.length >= 1 && smarterPod.podPlayer.playing === true">
                <p class="flow-text">Now Playing</p>
                <div class="card-panel z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img ng-src="{{currentPlayingImg}}" alt="" width="100%">
                        </div>
                        <div class="col s8">
						<span>
							<h6>{{smarterPod.podPlayer.podcastName}}</h6>
							<h6>{{smarterPod.podPlayer.episode}}</h6>
							{{smarterPod.podPlayer.description | limitTo: truncatedDesc}}...
		             	</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12" ng-if="smarterPod.podPlayer.playing === false">
                <p class="flow-text">Not currently playing. Select a podcast below from your playlist, add a new episode
                    to your playlist from the <i class="mdi-action-list"></i> tab or add a new feed from the <i href="#"
                                                                                                                class="mdi-content-add"></i>
                    tab above!</p>
            </div>
        </div>
        <div style="clear:both"></div>
        <div id="playlist">
            <p class="flow-text">Playlist</p>
            <div class="row">
                <ul class="collection playlist" ng-if="smarterPod.podList.length > 0">
                    <li class="collection-item avatar z-depth-1" ng-repeat="playlistItem in smarterPod.podList"
                        style="display:block;height:auto;">
                        <img ng-src="{{playlistItem.image}}" alt="" class="circle">
                        <span class="title">{{playlistItem.name}} : {{playlistItem.episode}}</span>
                        <p>{{playlistItem.description}}...</p>
                        <p ng-if="playlistItem.listened > 0"><b>You saved about {{playlistItem.listened / 60 |
                            number:0}} mins into this episode. Click 'Resume Play' to continue.</b></p>
                        <button class="waves-effect waves-light btn" ng-if="playlistItem.listened > 0"
                                ng-click="addOrRemove('add', $index, playlistItem.location, 'saved-item')"> Resume Play
                        </button>

                        <button class="waves-effect waves-light btn" ng-if="!playlistItem.listened"
                                ng-click="addOrRemove('add', $index, playlistItem.location, 'saved-item')"> Play Now
                        </button>

                        <button class="waves-effect waves-light btn" ng-click="addOrRemove('remove', $index)"> Remove
                        </button>
                    </li>
                </ul>
            </div>
            <p class="flow-text" ng-if="smarterPod.podList.length === 0"><b>No items in your playlist!</b></p>
        </div>
        <div class='col-sm-12 col-md-12 col-lg-12'>
            <br>
            <p class="flow-text">Subscriptions</p>
            <ul class="collection with-header grey">
                <li class="collection-item" ng-repeat="feed in smarterPod.playlistInteraction.userFeed track by $index"><b>{{feed.name}} </b><a
                        class="right" href="#" ng-click="removeFeed($index)"><i
                        class="mdi-action-highlight-remove small remove"></i></a></li>
            </ul>
        </div>
    </div>
</main>

<footer class="grey lighten-4 z-depth-3">
    <div class="container footer-wrapper">
        <div class="track-data" ng-if="smarterPod.podList.length !== 0 && smarterPod.podPlayer.playing === true">
            <img ng-src="{{currentPlayingImg}}" width="50px" class="left" style="padding: 5px;"/>
            <p class="player-text">{{smarterPod.podPlayer.podcastName}}: {{smarterPod.podPlayer.episode}}</p>
            <p>{{trackValue}}</p>
        </div>
        <div ng-if="smarterPod.podList.length === 0 || smarterPod.podPlayer.playing === false">
            <p class="message-no-content flow-text">Add or continue a podcast from your playlist!</p>
            <div class="controls greyed-out">
                <i class="mdi-av-play-arrow small" ng-click="smarterPod.podPlayer.play()"></i>
                <i class="mdi-av-pause small" ng-click="saveForLater(smarterPod.podPlayer.currentTime)"></i>
                <i class="speed-icon" ng-click="smarterPod.podPlayer.setPlaybackRate(1)">1x</i>
                <i class="speed-icon" ng-click="smarterPod.podPlayer.setPlaybackRate(2)">2x</i>
                <i class="mdi-av-fast-rewind small" ng-click="skipBackward()"></i>
                <i class="mdi-av-fast-forward small" ng-click="fastForward()"></i>
                <i class="mdi-content-save small" ng-click="saveForLater(smarterPod.podPlayer.currentTime)"></i>
            </div>
        </div>
        <div class="controls" ng-if="smarterPod.podList.length !== 0 && smarterPod.podPlayer.playing === true">
            <a href="#!" ng-click="smarterPod.podPlayer.play()"><i class="mdi-av-play-arrow small"></i></a>
            <a href="#!" ng-click="saveForLater(smarterPod.podPlayer.currentTime)"><i
                    class="mdi-av-pause small"></i></a>
            <a href="#!" ng-click="smarterPod.podPlayer.setPlaybackRate(1)"><i class="speed-icon">1x</i></a>
            <a href="#!" ng-click="smarterPod.podPlayer.setPlaybackRate(2)"><i class="speed-icon">2x</i></a>
            <a href="#!" ng-click="skipBackward()"><i class="mdi-av-fast-rewind small"></i></a>
            <a href="#!" ng-click="fastForward()"><i class="mdi-av-fast-forward small"></i></a>
            <a href="#!" ng-click="saveForLater(smarterPod.podPlayer.currentTime)"><i
                    class="mdi-content-save small"></i></a>
        </div>
        <div class="progress" ng-if="smarterPod.podList.length !== 0 && smarterPod.podPlayer.playing === true">
            <div class="determinate" ng-style="{width: trackProgress}"></div>
        </div>
    </div>
</footer>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="bower_components/bugsnag/src/bugsnag.js" data-apikey="db6e023fc6bb954cf5f3ac0fbf0c6184"></script>
<script src="popup.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="assets/js/materialize.min.js"></script>


<script type="text/ng-template" id="search-template">
    <p class="flow-text">Search for Podcasts</p>
    <form name="searchitunesForm" class="col s12" novalidate>
        <div class="input-field col s6">
            <label for="search-name">Podcast Name</label>
            <input id="search-name" type='text' ng-model='podcastSearchName' class="validate" required>
        </div>
        <button type="submit" ng-click="searchForPodcasts(podcastSearchName)" class="btn btn-default">Add</button>
    </form>

    <div class="card-panel z-depth-1" ng-if="results[0].failureMessage">
        <h6>{{results.failureMessage}}</h6>
    </div>

    <div class="card-panel z-depth-1" ng-if="!results[0].failureMessage && results.length > 0">
        <div class="row valign-wrapper" ng-repeat="result in results">
            <div class="col s4">
                <img ng-src="{{result.image}}" alt="" width="100%">
            </div>
            <div class="col s8">
						<span>
							<h6><b>{{result.name}}</b> by {{result.artist}}</h6>
		             	</span>

                <button type="submit" ng-if="!result.subscribed" ng-click="smarterPod.addPodcast(result.name, result.rss); result.subscribed = true" class="btn btn-default mdi-content-add"> Subscribe</button>
                <span class="flow-text" ng-if="result.subscribed">Subscribed!</span>
            </div>
        </div>
    </div>
    <form name="addFeedForm" class="col s12" novalidate>
        <p class="flow-text">Add Audio RSS Feed</p>
        <div class="input-field col s6">
            <label for="podcast-name">Podcast Name</label>
            <input id="podcast-name" type='text' ng-model='podcastName' class="validate" required>
        </div>
        <div class="input-field col s6">
            <label for="podcast-url">Podcast RSS URL</label>
            <input type='url' id="podcast-url" ng-model='podcastFeed' required>
        </div>
        <button type="submit" ng-click="smarterPod.addPodcast(podcastName, podcastFeed)" class="btn btn-default">
            Add
        </button>
    </form>
</script>

<script type="text/ng-template" id="about-template">
    <div class='col-sm-12 col-md-12 col-lg-12'>
        <p class="flow-text"><a href="https://github.com/smromain/smarterpod" target="_blank">SmarterPod</a> is created
            and maintained by <a style="color: blue;" ng-href="http://www.steveromain.com" target="_blank">Steve
                Romain</a>. SmarterPod is in continuous alpha/beta development: this means that certain features may
            break. If they do, let us know, and we will attempt to fix ASAP.</p>
        <p class="flow-text">If you would like to support the development of SmarterPod, you can
            <a style="color: blue;" href="https://github.com/smromain/smarterpod" target="_blank">contribute code to the
                project</a> or <a style="color: blue;" href="https://supporters.eff.org/donate" target="_blank">Donate
                to the Electronic Frontier Foundation (EFF).</a> The EFF is a staunch supporter of technology freedom
            and digital rights.</p>
        <p class="flow-text"><a style="color: blue;" href="mailto:yo-steve@steveromain.com?Subject=SmarterPod"
                                target="_blank">Contact me</a> with any bug reports, questions or comments. </p>
    </div>
</script>

<script type="text/ng-template" id="playlist-template">
    <div id="feed-updates">
        <br>
        <ul class="collection with-header grey">
            <li class="collection-header"><h5>Your Update Feed<a href="#!" ng-click="smarterPod.resyncUpdateFeed()"
                                                                 class="secondary-content"><i
                    class="mdi-navigation-refresh small"></i></a></h5></li>
            <li class="collection-item" ng-repeat='podcast in smarterPod.playlistItems track by $index'>
                <div><b>{{podcast.podcast}}</b><br> {{podcast.episode}}<a href="#!"
                                                                          ng-click="addTrack($index, podcast.location)"
                                                                          class="secondary-content"><i
                        class="mdi-av-playlist-add small"></i></a><a href="#!"
                                                                     ng-click="deleteItemFromUpdateFeed($index)"
                                                                     class="secondary-content danger"><i
                        class="mdi-action-highlight-remove small"></i></a></div>
            </li>
        </ul>

        <p class="flow-text" ng-if="smarterPod.playlistItems.length === 0 || smarterPod.playlistItems === undefined">No
            items in your feed! Please add some feeds from the Feed Management ( <i class="mdi-content-add small"></i> )
            Menu or retrieve older episodes from your feeds below.</p>
    </div>
    <p class="flow-text smaller">Add an episode to your playlist by clicking on the <i
            class="mdi-av-playlist-add small"></i> icon. <br>Delete the episode from your Update Feed by clicking the <i
            class="mdi-action-highlight-remove small danger"></i> icon. </p>
    <ul>
        <h5>BETA: Add Older Episodes</h5>
        <p class="flow-text even-smaller">Click the button to add the last episode of a specific podcast to your update
            feed. You can add historical episodes one at a time, as far back as the feed goes. Make sure to add the
            episode to your playlist (from the Update Feed) to ensure it persists and saves.</p>
        <ul class="collection">
            <li class="collection-item" ng-repeat='podcast in smarterPod.playlistInteraction.userFeed track by $index'>
                <div><b>{{podcast.name}}</b><br> {{podcast.rss}}<a href="#!"
                                                                   ng-click="smarterPod.olderEpisodeRetriever(podcast.name, podcast.rss, count); count = count + 1"
                                                                   ng-init="count = 1" class="secondary-content"><i
                        class="mdi-av-playlist-add small"></i></a></div>
            </li>
        </ul>
</script>

</body>
</html>

