<header class="hero-unit" id="banner">
  <div class="container">
    <h1>SmarterPod</h1>
    <h4>you look nice today.</h4>
    </div>
</header>
<div class="container content">
<content>
	<playlist></playlist>
    <playermodule></playermodule>
</content>
</div>
