<div class='container'>
	<div id='player' class='col-sm-8 col-md-8 col-lg-8'>
	<div>
		<img ng-show="podList.length > 0" ng-src="{{podPlayer.image}}" width='200' height='200' style='float:left; padding:3px'/>
			<h3>{{podPlayer.podcastName}}</h3>
			<h4>{{podPlayer.episode}}</h4>
			<h5>{{podPlayer.description}}</h5>
		<audio media-player="podPlayer" data-playlist="podList" controls>
			<source type="audio/mpeg" src="{{item.url}}">	
		</audio>
	</div>
	<h4>Current Playlist</h4>
	<ul ui-sortable ng-model="podList">
		<li ng-repeat="playlistItem in podList">{{playlistItem.name}}: {{playlistItem.episode}} <a ng-click='playNow(playlistItem.location, $index)'>Play Now</a> <a ng-click='removeItemFromPodList($index, podList[$index+1])'>X</a></li>
	</ul>
	</div>
</div>
</div>
