<div class='container col-sm-4 col-md-4 col-lg-4'>
<h3>Your Podcasts</h3>
<div id='playlist' >
	<ul>
		<li ng-repeat='podcast in playlistItems'><b>{{podcast.podcast}}</b>: {{podcast.episode}}<p></p><a ng-click="addTrack($index)">Add</a> || <a ng-click="replaceTrack($index)">Clear Playlist & Play</a><p></p>
		</li>
	</ul>
</div>
<div id="add-to-playlist" class='col-sm-12 col-md-12 col-lg-12'>
	<h5>Add A Podcast To Your List</h5>
	<form>
		<input type='text' ng-model='podcastName' placeholder='podcast name'>
		<input type='text' ng-model='podcastFeed' placeholder='podcast address'>
		<button type="submit" ng-click="addPodcast(podcastName, podcastFeed)" class="btn btn-default">Add Latest Episode</button>
	</form>

	<h5>Search Podcasts</h5>
	<form>
		<input type='text' ng-model='podcastName' placeholder='podcast name'>
		<button type="submit" ng-click="searchForPodcasts(podcastName)" class="btn btn-default">Add Latest Episode</button>
	</form>
</div>
</div>